<!doctype html>
<html>
    <header th:fragment="navbar">
        <nav class="navbar navbar-expand-xxl first-bar">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}"><img class="icon-home" th:src="@{/icons/home-icon.svg}"
                                                      alt="Ir a Inicio" /></a>
                <button class="navbar-toggler bg-body-secondary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#nav-elements" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Desplegar menú"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="nav-elements">
                    <form class="d-flex align-items-center search-box ms-3" role="search">
                        <img th:src="@{/icons/search-icon.svg}" alt="Buscar productos de mascotas" />
                        <input class="form-control border-0" type="search" placeholder="¿Qué necesita tu mascota?">
                    </form>
                    <ol class="navbar-nav ms-xxl-auto mb-3 mb-xxl-0 d-flex align-items-center">
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link active pe-0" href="#">
                                <img th:src="@{/icons/ubi-cute.svg}" />
                            </a>
                            <a class="nav-link active ps-1" href="#">
                                <span class="p-2">Agregar Dirección</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/owner/register}"><span class="p-2">Crear Cuenta</span></a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/login}"><img th:src="@{/icons/user-icon.svg}" alt="User Icon" /></a>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-xxl second-bar">
            <div class="container-fluid">
                <div class="dropdown">
                    <button class="button-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span>Servicios</span>
                    </button>
                    <ul class="dropdown-menu mt-2">
                        <li><a class="dropdown-item px-0 px-4 py-2" href="#"><span>Administración de mascotas</span></a></li>
                        <li><a class="dropdown-item px-0 px-4 py-2 my-2" href="#"><span>Productos para tus peludos</span></a></li>
                        <li><a class="dropdown-item px-0 px-4 py-2 my-2" href="#"><span>Contacta con un veterinario</span></a></li>
                        <li><a class="dropdown-item px-0 px-4 py-2 bg-red" href="#"><span>Cita Urgente</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</html>
