<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org", xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Dashboard para el Dueño logueado" />
    <link rel="icon" th:href="@{/icons/logo.svg}" type="image/x-icon" />
    <link rel="apple-touch-icon" th:href="@{/icons/logo.svg}" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/global.css}" />
    <title>Tu Perfil</title>
</head>

<body>
<header th:replace="shared/navbar :: navbar">
</header>
<main class="container-fluid px-5">
    <div class="row row-cols-1 row-cols-xxl-2 mt-xxl-4 align-items-center">
        <div class="col col-xxl-8 text-center text-xxl-start">
            <div class="card border-0 rounded-5 shadow-lg">
                <div class="card-body p-5">
                    <div class="row row-cols-1 row-cols-xxl-2 align-items-center">
                        <div class="col col-xxl-6">
                            <img th:if="${owner.imgURL == null}" th:src="@{/images/profile-icon-default.svg}" class="big-image"
                                 alt="Imágen de perfil por defecto del usuario">
                            <img th:if="${owner.imgURL != null}" th:src="${owner.imgURL}" class="big-image profile-image"
                                 alt="Tu imágen de perfil">
                        </div>
                        <div class="col col-xxl-6 ps-xxl-4 pt-2">
                            <h1 class="contorn-color" th:text="Bienvenido + ${owner.username}" ></h1>
                            <p class="semi-bold green mb-4">¿Qué deseas hacer hoy?</p>
                            <a th:href="@{/owner/appointment/add}"
                               class="button-secondary bg-main-2-color mb-3 d-flex align-content-center d-lg-inline me-lg-4 me-xxl-0 d-xxl-flex justify-content-center">
                                <img th:src="@{/icons/calendar-icon.svg}" alt="" class="ps-xxl-3">
                                <span class="semi-bold ps-3 pe-xxl-3">Agendar una consulta</span>
                            </a>
                            <a th:href="@{/owner/modify}"
                               class="button-secondary bg-main-2-color mb-3 d-flex d-lg-inline d-xxl-flex justify-content-center">
                                <img th:src="@{/icons/edit-Icon.svg}" alt="" class="ps-xxl-3">
                                <span class="semi-bold ps-3 pe-xxl-3">Modificar información</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-xxl-4 text-center jusitfy-content-center">
            <div class="card border-0 rounded-5 bg-main-color mt-5 mt-xxl-0">
                <div class="card-title pt-4 mb-0">
                    <h2 class="white-color mb-0">Tus mascotas</h2>
                </div>
                <div class="card-body px-5 mb-3">
                    <div class="row row-cols-2 d-flex p-0 mx-0 mb-4">
                        <a th:href="@{/owner/pet/list}" class="button-secondary col-9 bg-fill-color shadow-none"><span
                                class="semi-bold">Ver todas</span></a>
                        <img class="col-3" th:src="@{/icons/plus-icon.svg}"
                             alt="Botón para añadir una nueva mascota" />
                    </div>
                    <div th:each="pet : ${owner.petList}"
                            class="card rounded-4 border-0 col col-xxl-12 mb-3">
                        <div class="card-body d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center gap-3">
                                <img th:src="@{#{${pet.specie.iconKey}}}"
                                     th:alt="#{pet.alt.prefix} + ' ' + #{${pet.specie.messageKey}}">
                                <span class="semi-bold f-24" th:text="${pet.name}"></span>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <img th:src="@{/icons/pencil-icon.svg}"
                                     alt="Editar la información de la mascota">
                                <img th:src="@{/icons/info-icon.svg}"
                                     alt="Ver toda la información de la mascota">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>