@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --main-color: #b98e6e;
  --contorn-color: #534439;
  --fill-color: #d9bba0;
  --black-color: #262225;
  --black-2-color: #62515e;
  --gray-color: #d9d2d3;
  --main-2-color: #71a281;
  --contorn-2-color: #3f6e4f;
  --red-color: #b03428;
}

* {
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out all;
}

/* APLICAR COLORES Y ESTILOS DE LETRA */

.main-color {
  color: var(--main-color);
}

.contorn-color {
  color: var(--contorn-color);
}

.fill-color {
  color: var(--fill-color);
}

.black-color {
  color: var(--black-color);
}

.black-2-color {
  color: var(--black-2-color);
}

.gray-color {
  color: var(--gray-color);
}

.dark-green {
  color: var(--main-2-color);
}

.contorn-2-color {
  color: var(--contorn-2-color);
}

.white-color {
  color: #fff;
}

.green {
  color: var(--contorn-2-color);
}

.bg-main-2-color {
  background-color: var(--main-2-color);
}

.bg-main-color {
  background-color: var(--main-color);
}

.bg-contorn-2-color {
  background-color: var(--contorn-2-color);
}

.bg-fill-color {
  background-color: var(--fill-color);
}

.semi-bold {
  font-weight: 600;
}

.f-24 {
  font-size: 24px;
}

/* ANIMACIONES */

/* Links de botones */

a.bg-fill-color:hover span {
  color: var(--fill-color);
}

a.bg-contorn-2-color:hover span {
  color: var(--contorn-2-color);
}

a.bg-main-2-color:hover span {
  color: var(--main-2-color);
}

/* BOTONES Y LINKS */

.button-secondary {
  border-radius: 21px;
  font-size: 24px;
  padding: 13px 16px;
}

.button-secondary span {
  color: #fff;
}

.button-secondary:hover {
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

a {
  display: inline-block;
  text-decoration-line: none;
}

/* --- */

header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

main {
  padding-top: 173px;
}

/* NAVBAR PRINCIPAL */

.first-bar {
  background-color: var(--main-color);
  height: 90px;
}

nav .container-fluid {
  margin: 0 70px;
}

.nav-link span {
  transition: 0.3s ease-in-out all;
  border-radius: 12px;
}

.nav-link span:hover {
  color: var(--contorn-color);
  background-color: #fff;
}

.first-bar span, .second-bar span {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

nav .search-box input {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 580px;
  height: 48px;
  border-radius: 12px;
  padding-left: 60px;
  transition: 0.3s ease-in-out all;
}

nav .search-box img {
  position: absolute;
  padding-left: 17px;
  cursor: pointer;
}

/* NAVBAR SECUNDARIA */

.second-bar {
  height: 63px;
  background-color: var(--gray-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

nav .button-secondary {
  background-color: var(--main-2-color);
  color: #fff;
  border-radius: 12px;
  border: 0;
  padding: 8px 16px;
}

.button-secondary:hover {
  background-color: #fff;
  outline: none;
}

nav .button-secondary:hover span {
  color: var(--main-2-color);
}

.second-bar ul {
  padding: 16px 8px;
  border: 3px solid var(--contorn-2-color);
}

.second-bar ul span {
  font-style: normal;
  font-weight: 400;
}

.second-bar a {
  border-radius: 12px;
}

.second-bar ul a:hover {
  background-color: var(--contorn-2-color);
}

.second-bar ul .bg-red:hover {
  background-color: var(--red-color);
}

.second-bar a span {
  color: var(--contorn-color);
}

.second-bar a:hover span {
  color: #fff;
}

/* BODY */

h1 {
  color: var(--contorn-2-color);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
}

h2 {
  color: var(--black-color);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  color: var(--black-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.big-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.profile-image {
  width: 98%;
  height: auto;
  aspect-ratio: 1 / 1;
  max-height: 100%;
  object-fit: cover;
  border-radius: 141px;
  border: 34px solid var(--contorn-color);
}

.user-icon {
  width: 70px;
  border-radius: 45%;
  border: 5px solid var(--contorn-color);
  object-fit: cover;
}

img {
  max-width: 100%;
}

.input-search, .input-select {
  font-weight: 500;
  font-size: 20px;
  padding: 0 30px;
  border-radius: 12px;
  height: 50px;
  width: 300px;
  margin-top: 10px;
  border: 2px solid #adb5bd;
  appearance: none;
}

.input-search:hover, .input-select:hover {
  border: 4px solid var(--main-color);
  outline: none;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.button-search {
  background-color: var(--main-2-color);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  border-radius: 12px;
  border: 0;
  padding: 8px 16px;
}

.button-search:hover span {
  color: var(--main-2-color);
}

.button-search:hover {
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.alert-tooltip {
  --bs-tooltip-bg: #721c24;
  --bs-tooltip-color: #f8d7da;
}

.alert-tooltip .arrow::before {
  border-color: #721c24; /* Flecha del tooltip */
}

/* Para navegadores WebKit como Chrome y Safari */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: #f1f1f100; /* Color de fondo del track */
}

::-webkit-scrollbar-thumb {
  background-color: #3f6e4f; /* Color de la barra */
  border-radius: 10px; /* Bordes redondeados */
  border: 3px solid #f1f1f1; /* Espacio entre barra y contenedor */
}

@media (min-width: 1400px) {
  nav ol {
    gap: 20px;
  }
}

@media (max-width: 1400px) {
  .navbar-collapse {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1400px) {
  nav .search-box {
    max-width: 100%;
    position: relative;
  }

  .first-bar {
    height: 100%;
  }
}

@media (max-width: 768px) {
  nav .search-box input {
    width: 400px;
  }

  nav .container-fluid {
    margin: 0 15px; /* Ajusta los márgenes para móviles */
  }

  /* Ajustar la barra de búsqueda */
  nav .search-box input {
    width: 100%; /* La barra de búsqueda ocupa todo el ancho */
    font-size: 16px; /* Reducir el tamaño de la fuente */
    padding-left: 45px; /* Ajustar padding para el icono */
  }

  nav .search-box img {
    padding-left: 10px; /* Ajustar la posición del icono en móviles */
  }

  /* Cambiar el tamaño de los enlaces de navegación */
  nav span {
    font-size: 16px;
  }

  /* Centrar el contenido de la navbar en móvil */
  .navbar-nav {
    text-align: center;
    margin-top: 10px;
  }

  /* Cambiar los encabezados */
  h1 {
    font-size: 26px; /* Tamaño más pequeño para móviles */
    line-height: 40px;
  }

  h2 {
    font-size: 24px; /* Reducir tamaño */
  }

  p {
    font-size: 16px;
  }

  .button-secondary img {
    width: 30px;
  }

  span {
    font-size: 16px;
  }
}
